<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not Found</title>
  </head>
  <body class="bg-[#101010]">
    <div
      class="text-white flex text-lg items-center justify-center flex-col gap-3 mt-72"
    >
      <b>Sorry, this page isn't available</b>
      <p class="text-neutral-700 w-96 text-center">
        The link you followed may be broken, or the page may have been removed.
      </p>
      <button class="px-8 py-1 border border-neutral-700 rounded-xl font-bold">
        <a href="/"> Back</a></button
      >
    </div>
  </body>
</html>
