---
import Layout from '../layout/default.astro'
import FollowNav from '../components/home-followNav.jsx'
import CreateThread from '../components/home-create-thread'
import Posts from '../components/posts.jsx'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Threads</title>
  </head>
  <body>
    <Layout />
    <div class="home flex flex-col items-center justify-center">
      <FollowNav />
      <CreateThread />
      <Posts client:load />
    </div>
  </body>
</html>
