---
import Layout from '../layout/default.astro'
import Search from './search.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-[#101010]">
    <Layout>
      <Search />
    </Layout>
  </body>
</html>
