---
import Layout from '../layout/default.astro'
import insta from '../images/insta.png'
import profilePic from '../images/me.png'
---

<Layout>
  <section class="text-white p-3 sm:w-[600px] sm:mx-auto sm:mt-4">
    <div class="flex items-center justify-between">
      <div class="name">
        <b class="text-xl sm:text-2xl"><i>Muskan💗</i></b>
        <p class="text-sm sm:text-md">muskaann.29</p>
      </div>
      <div class="pic rounded-full">
        <img
          class="rounded-full border border-neutral-700 w-16 sm:w-20"
          src={profilePic.src}
          alt="profile pic"
        />
      </div>
    </div>
    <div class="mt-5">
      <p>Dancer | Developer</p>
    </div>
    <div class="insta text-neutral-600 flex items-center justify-between mt-4">
      <p>110 followers</p>
      <img src={insta.src} alt="" width="28" />
    </div>
    <button
      class="w-full mt-6 py-1 border font-bold text-sm border-neutral-700 rounded-xl sm:py-2"
      >Edit Profile</button
    >
    <div
      class="mt-7 flex items-center justify-around w-full font-bold text-md text-neutral-700"
    >
      <button
        class="w-full text-center text-md py-2 cursor-pointer focus:text-white focus:border-b focus:border-white transition-colors"
      >
        Threads
      </button>
      <button
        class="w-full text-center text-md py-2 cursor-pointer default:text-white focus:text-white focus:border-b focus:border-white transition-colors"
      >
        Replies
      </button>
      <button
        class="w-full text-center text-md py-2 cursor-pointer focus:text-white focus:border-b focus:border-white transition-colors"
        >Repost</button
      >
    </div>
    <div class="w-full h-[.1px] bg-neutral-700"></div>

    <!-- TODO: render this button when thread button is clicked -->
    <div class="w-full h-60 flex items-center justify-center md:h-80">
      <button
        class="px-4 py-2 font-bold text-sm text-white border border-neutral-700 rounded-xl"
      >
        Start your first thread
      </button>
    </div>
  </section>
</Layout>
