---
import Layout from '../layout/default.astro'
import insta from '../images/insta.png'
import profilePic from '../images/me.png'
import Thread from '../components/threads.jsx'
---

<Layout>
  <section class="text-white p-3 sm:w-[600px] sm:mx-auto sm:mt-4">
    <div class="flex items-center justify-between">
      <div class="name">
        <b class="text-xl sm:text-2xl"><i>Muskan💗</i></b>
        <p class="text-sm sm:text-md">muskaann.29</p>
      </div>
      <div class="pic rounded-full">
        <img
          class="rounded-full border border-neutral-700 w-16 sm:w-20"
          src={profilePic.src}
          alt="profile pic"
        />
      </div>
    </div>
    <div class="mt-5">
      <p>Dancer | Developer</p>
    </div>
    <div class="insta text-neutral-600 flex items-center justify-between mt-4">
      <p>110 followers</p>
      <img src={insta.src} alt="" width="28" />
    </div>
    <button
      class="w-full mt-6 py-1 border font-bold text-sm border-neutral-700 rounded-xl sm:py-2"
      >Edit Profile</button
    >
    <Thread client:load />
  </section>
</Layout>
