---
import logo from '../images/logo.webp'
import menuIcon from '../images/menu.png'
import NavItems from './nav-items.astro'
---

<nav class="h-20 flex items-center justify-center relative">
  <menu
    class="w-full h-20 bg-[#101010] inline-flex flex-1 items-center justify-evenly fixed"
  >
    <div class="fixed left-auto w-8 sm:left-0 sm:mx-6 lg:left-20">
      <a href="/"><img src={logo.src} alt="logo" /></a>
    </div>
    <NavItems />
    <div class="fixed right-6 w-8 sm:right-0 sm:mx-6 lg:right-20">
      <a href="/"><img src={menuIcon.src} alt="menu" /></a>
    </div>
  </menu>
</nav>
